body {
  background: #13756D;
}

.incident-wrapper {
  background: #55B6AE;
  width: 100%;
}

h2 {
  font-size: 1.5em;
  font-family: "Arial";
  background: #1CA89C;
  padding: 40px;
  margin: 0;
  color: #333;
  text-align: center;
 }

.emphasis {
  font-family: sans-serif;
  font-size: 4em;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  font-family: fantasy;
  font-size: 2em;
  padding: 40px;
  background: #65d8cb; /* Old browsers */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#65d8cb), to(#72f4e9));
  background: -webkit-linear-gradient(#65d8cb 0%, #72f4e9 100%);
  background: -moz-linear-gradient(#65d8cb 0%, #72f4e9 100%);
  background: -o-linear-gradient(#65d8cb 0%, #72f4e9 100%);
  background: linear-gradient(#65d8cb 0%, #72f4e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65d8cb', endColorstr='#72f4e9',GradientType=0 );
  list-style-type: none;
}

.gravity-Mortelle {
  color: maroon;
}

.add-input {
  width: 28%;
  height: 20px;
  float: left;
  border: 10 px solid black;
  padding: 40px 0;
  font-size: 2em;
  font-family: fantasy;
  text-indent: 55px;
}

.add-select {
  width: 28%;
  float: left;
  padding-top:0px;
  padding-bottom:0px;
  padding-right:0px;
  height: 105px;
  border: 10 px solid black;
  font-size: 2em;
  text-indent: 55px;
}

.add-btn {
  width: 43%;
  border: none;
  background: #29F4E3;
  padding: 0;
  height: 100px;
  h2 {
   background: #29F4E3;
   padding: 0;
   font-size: 4em;
   font-family: megrim, fantasy;
   color: #333;
  }
}

.clear-btn {
  width: 100%;
  border: none;
  height: 100px;
  background: #13756D;
  font-size: 2em;
  font-family: megrim, fantasy;
  color: #aaa;
}